body{
    font-family:Verdana, Arial, Helvetica, sans-serif;    
    background-color: yellow;  
}
h1 {  
    margin-left: 70px;  
}  
li {  
    list-style: none;  
    margin-bottom: 5px;  
}  

.footer {
    position: fixed;
    /* right: 0; */
    font-style: oblique;
    font-weight: 100;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 5px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

      
form ul li label{  
    float: left;  
    clear: left;  
    width: 100px;  
    text-align: right;  
    margin-right: 10px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    font-size:14px;  
}  
      
form ul li input, select, span {  
    float: left;  
    margin-bottom: 10px;  
}  
      
form textarea {  
    float: left;  
    width: 350px;  
    height: 150px;  
}  
      
[type="submit"] {  
    clear: left;  
    margin: 20px 0 0 230px;  
    font-size:18px  
}  
      
p {  
    margin-left: 70px;  
    font-weight: bold;  
}  

.header{
    padding: 25px;
    font-size: 45px;
    text-align: center;
    background-color: tomato;
    /* border: 1px solid black; */
    color: green;
    font-weight: bold;
}
.inputMain{
    margin-top: 20px;
    width: 50%;
    display: block;
    float: left;
    background-color: greenyellow;
    /* border: 1px solid black; */
    /* height: auto; */
    height: 793px;
    box-sizing: border-box;
}

.inputHeader{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    
}

.previewMain{
    margin-top: 20px;
    width: 50%;
    display: block;
    float: left;
    background-color: pink;
    height: 793px;
    /* border: 1px solid black; */
    /* height: fit-content; */
    box-sizing: border-box;
}

.emailnew, .useridnew, .passnew, .addnew, .namenew, .zipnew, .phonenew, .countrynew, .linkednew, .githubnew{
    float: left;  
    clear: left;  
    width: 500px;  
    color: red;
    text-align: center;  
    margin-right: 20px;  
    margin-bottom: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    font-size:14px;  
}

ul {
    clear: left;
}
form ul li button, table{
    float: left;
    clear: left;
    width: 600px;  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.educa {
    border: 1px solid;
    text-align: center;
    background-color: lightgreen;
}

h3{
    color: blueviolet;
    font-size: 75px;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

.personal{
    margin-left: 270px;
    text-align: center;
    align-items: center;
}
.education, .project{
    text-align: center;
    align-items: center;
    /* margin: 10px 10px 10px 10px; */
    /* margin-left: 60px; */
}